html {
    box-sizing: border-box;
}

body {
    background: #0147A7;
    font-size: 2rem;
    font-family: 'Roboto';
}

#main {
    margin: 10px;
}

button {
    background-color: white;
    color: black;
    margin: 10px;
    font-size: 1rem;
}